<p><strong>College of Liberal Arts Dean:</strong><br>
Richard Deeg<br>
1228 Anderson Hall<br>
<a href="mailto:rdeeg@temple.edu">rdeeg@temple.edu</a></p>
<hr>
<p><strong>Senior Associate Dean for Research and Faculty Affairs:</strong><br>
Sandra L. Suárez<br>
1246 Anderson Hall<br>
<a href="mailto:suarez@temple.edu">suarez@temple.edu</a></p>
<hr>
<p><strong>Senior Associate Dean for Academic Affairs:</strong><br>
Hiram Aldarondo<br>
1226 Anderson Hall<br> 
<a href="mailto:hiram.aldarondo@temple.edu">hiram.aldarondo@temple.edu</a></p>
<hr>
