<hr /> 

<p><h3>2018-2019 Academic Year Diversity and Inclusion Postdoctoral Fellows</p></h3>

<hr />

<p><img src="https://github.com/TULiberalArts/Liberal-Arts-Research/blob/master/media/rgoffeALMA.jpg?raw=true" alt="" class="responsive-img img-right"/>
<strong>Rachel Goffe - Geography and Urban Studies</strong><br/>

<p>Rachel is a human geographer and a licensed architect. Her research focuses on the relationships among the built environment, land rights, and livelihood, questioning how these relationships structure—and are structured by—the racial capitalist state. She has done research in Jamaica, where she is originally from, and in Philadelphia, where she has lived for many years. Through ethnographic research in informal settlements in Jamaica, she investigated the enactment of new policy regarding squatting, explicating how that process was shaped by regional traditions and the engagement of residents with varied aspects of the state—from social welfare to enforcement agencies. 

In Philadelphia, Dr. Goffe worked with community organizations struggling against dispossession, shrinking public services, and low wages. With residents, she co-produced media, research, education, and GIS analysis to articulate alternative visions for the city. The resulting radio and video pieces aired on community low power radio, community access TV and internet platforms, but most importantly they aided in building relationships with other organizers. Dr. Goffe earned a Bachelor’s in Architecture from Temple University and a Ph.D. from the Graduate Center of the City University of New York.</p>

<hr />

<p><img src="https://github.com/TULiberalArts/Liberal-Arts-Research/blob/master/media/shaheeda.jpg?raw=true" alt="" class="responsive-img img-right"/>
<strong>Shaeeda Mensah - Philosophy</strong><br/>

<p>Shaeeda is currently serving as a Diversity Postdoctoral Fellow in the Department of Philosophy. She received a Ph.D. in Philosophy from Pennsylvania State University. Her research focuses on the intersections of race and gender, punishment, and state violence. In particular, she explores the over emphasis of Black men's experiences, and the marginalization of Black women's experiences in analyses of mass incarceration and police violence. She has taught a wide range of classes in both philosophy and women, gender, and sexuality studies. These classes include but are not limited to philosophy of law, race, class, gender and mass incarceration, social and political philosophy, ethics, logic, philosophy of the Black experience, Black feminism(s), feminist theory, women's violences through time, and controversies in love and sex.</p>

<hr />
